* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #02A9F7;
    --background-color: #00111A;
    --text-color: #C7CDCF;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.button {
    background-color: #FF9900;
    color: var(--background-color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 2rem 3rem;
    background-color: #001A26;
    color: var(--text-color);
    z-index: 3;
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
}

.header_logo {
    font-size: 3rem;
    font-weight: 600;
}

.header_logo a {
    color: var(--text-color);
    text-decoration: none;
}

#header .navbar a:hover {
    color: var(--primary-color);
}

.active{
    color: var(--primary-color) !important;
}

#header .navbar a {
    display: block;
    padding: 0.4rem;
    margin: 0 1rem;
    color: var(--text-color);
    text-decoration: none;
}

#header .navbar :last-child {
    margin-right: 0;
}

/* wrap */
#wrap {
    font-size: 2rem;
    color: var(--text-color);
    text-align: justify;
    margin-top: 10rem;
}

#wrap div {
    padding-top: 10rem;
}

p {
    font-size: 1.2rem;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_img {
    display: block;
    width: 40rem;
    height: auto;
    border-radius: 50%;
}

/* footer */
#footer {
    background-color: #002333;
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
